@using Microsoft.AspNetCore.Identity
@using MyStore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user me-1"></i> مرحباً @UserManager.GetUserName(User)!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @*<li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">إدارة الحساب</a></li>*@
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt me-1"></i> تسجيل الخروج
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        @* تم حذف رابط التسجيل من هنا *@
        <li class="nav-item">
            <a class="btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt me-1"></i> تسجيل الدخول
            </a>
        </li>
    }
</ul>