@page
@model MyStore.Pages.Admin.Companies.CreateModel
@{
    ViewData["Title"] = "إضافة شركة جديدة";
}

<h1>@ViewData["Title"]</h1>

<h4>شركة</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Company.Name" class="control-label">اسم الشركة</label>
                <input asp-for="Company.Name" class="form-control" />
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="UploadedLogo" class="control-label">شعار الشركة</label>
                <input asp-for="UploadedLogo" type="file" class="form-control" />
                <span asp-validation-for="UploadedLogo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="إضافة" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">العودة للقائمة</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
